@import url('https://fonts.googleapis.com/css2?family=Lexend+Exa:wght@700&display=swap&text=DIAGRAMMATON');


.outerContainer {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;

  & > *:not([class*='tabs']) {
    display: flex;
    flex-direction: column;
    flex: 1
  }
}

[class*='textboxMultiline'] {
  display: flex;
  flex: 1;
}

.innerContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.textAreaAndBannerContainer {
  position: relative;
}

.warningBanner {
  display: flex;
  word-break: break-word;
  overflow: hidden;
  z-index: 1;
  background-color: var(--figma-color-bg-warning);
  padding: var(--space-extra-small);
}

.warningText {
  flex: 1;
  padding: var(--space-extra-small);
}

.closeIcon {
  position: absolute;
  top: 8px;
  right: 8px;
}

:global(.figma-light) .blurContainer {
  background-color: rgba(255, 255, 255, 1);
}

:global(.figma-dark) .blurContainer {
  background-color: rgba(30, 30, 30, 0.7);
}

.blurContainer {
  position: absolute;

  width: 100%;
  height: 100%;
  backdrop-filter: blur(10px);
  z-index: 2;
}

.fullScreen {
  position: fixed;
  display: flex;
  flex: 1;
  width: 100%;
  height: 100%;
  z-index: 100;

  &>*:not([class*='tabs']) {
      display: flex;
      flex-direction: column;
      flex: 1
    }
}


.logoType {
  letter-spacing: .3rem;
  font-size: 1.3rem;
  line-height: 2rem;
  font-family: 'Lexend Exa', sans-serif;
  margin-bottom: 5px;
}

.description {
  color: hsl(266 10% 50.1%);
  font-size: 14px;
  text-align: center;
}

.fullWidth {
  flex: 1;
  width: 100%;
}