@import url("https://fonts.googleapis.com/css2?family=Lexend+Exa:wght@700&display=swap&text=DIAGRAMMATON");

:root {
  --color-saturation: 100%;
  --color-lightness: 82.5%;
}

.outerContainer {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;

  & > *:not([class*="tabs"]) {
    display: flex;
    flex-direction: column;
    flex: 1;
  }
}

[class*="textboxMultiline"] {
  display: flex;
  flex: 1;
}

.innerContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.textAreaAndBannerContainer {
  position: relative;
}

.warningBanner {
  display: flex;
  z-index: 1;
  background-color: var(--figma-color-bg-warning);
  padding: var(--space-extra-small);
  position: absolute;
  bottom: 54px;
  left: 12px;
  width: calc(100% - 24px);
  border-radius: var(--radius-small);
  z-index: 999;
}

.warningText {
  width: 100%;
  padding: var(--space-extra-small);
}

.closeIcon {
  position: absolute;
  top: 8px;
  right: 8px;
}

:global(.figma-light) .overlayContainer {
  background-color: rgba(255, 255, 255, 1);
}

:global(.figma-dark) .overlayContainer {
  background-color: rgba(30, 30, 30, 0.7);
}

.overlayContainer {
  position: absolute;

  width: 100%;
  height: 100%;
  z-index: 2;
}

.fullScreen {
  position: fixed;
  display: flex;
  flex: 1;
  width: 100%;
  height: 100%;
  z-index: 100;

  & > *:not([class*="tabs"]) {
    display: flex;
    flex-direction: column;
    flex: 1;
  }
}

.logoType {
  letter-spacing: 0.3rem;
  font-size: 1.3rem;
  line-height: 2rem;
  font-family: "Lexend Exa", sans-serif;
  margin-bottom: 5px;
}

.description {
  color: hsl(266 10% 50.1%);
  font-size: 14px;
  text-align: center;
}

.fullWidth {
  flex: 1;
  width: 100%;
}

.suggestionContainer {
  width: calc(100% - var(--space-extra-large));
  z-index: 99;
}

.suggestionScrollView {
  display: flex;
  gap: 6px;
}

.suggestionScrollView::-webkit-scrollbar {
  display: none;
}
.suggestionBlock {
  border-radius: 6px;
  outline: none;
  background-color: white;
  color: var(--figma-color-text-paragraph);
  padding: var(--space-extra-small);
  display: flex;
  padding: var(--space-extra-small);
  white-space: normal;
  overflow: hidden;
  border: 1px solid var(--figma-color-border);
  text-overflow: ellipsis;
  min-width: 140px;
  max-width: 140px;
  height: 66px;
}

.suggestionInstructionsBlock {
  display: flex;
  flex-direction: column;
  padding: var(--space-small) var(--space-extra-small) 0 0;
  height: 60px;
}
